.text {
  font-family: "Source Sans Pro", serif;
}
.title {
  font-family: "Poppins", sans-serif;
}
.quote {
  font-family: "Source Sans Pro", serif;
  font-style: italic;
}
figure {
  width: 50%;
  float: left;
  margin-right: 25px;
}
